@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Seja Bem Vindo</h1>
        <p>Aqui vai encontrar as melhores imagens para o seu site</p>
        <img src="~/images/UnderConstruction.jpg" />
    </div>
